.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
.subscribe-background {
    background-image:  black !important;
}
.img-height {
    height: 200px;
}
.word-height {
    height: 25px;
}
.product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.image-header {
    height: 300px;
}
.logo {
    height: 200px;
    justify-content: left;
}

.w3-content {
    margin-left: -20px;
    margin-right: 0;
}

.shop-btn {
    background-color: #95939E;
}